@charset "UTF-8";



*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

#box{
	margin:auto;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
   background: #f8f8ff;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.container {
  display: flex;
  align-items: center;
  font-size:2em;
  
}

a.btn--white {
  color: #ffffff;
  background-color: red;
}

a.btn--white:hover {
  color: #ffffff;
  background: #f56500;
}

a.btn--circle {
  border-radius: 50%;
  line-height: 4;
  width: 65px;
  height: 70px;
  padding: 0;
  -webkit-box-shadow: 0 5px 0 #e6d900;
  box-shadow: 0 5px 0 #e6d900;
  padding-left:0px;
}

a.btn--circle:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #e6d900;
  box-shadow: 0 2px 0 #e6d900;
}

#pa{
	margin-left:250px
}
	
p{
	padding-left:10px;
}

#cen{
	
	margin-left:35%;
}