@charset "UTF-8";

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
	text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  margin-top: 55px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
.decorated-btn {
  background-color: gold;
  font-size: 12px;
  border-radius: 5px;
  border-bottom: solid 3px goldenrod;
  box-shadow: 3px 3px 3px gray;
  transition: 0.3s;
}

.click-down:active {
  transform: translateY(2px);
  border-bottom: none;
}

.decorated-btn:hover {
  background-color: orange;
}

.box {
    margin: auto;
	text-align: center;
	width: 25em;
	border: 1px solid #333;
	padding: 8px 12px;
}

a.btn-border {
  border-radius: 0;
}

a.btn-border:before,
a.btn-border:after {
  position: absolute;

  width: 0%;
  height: 2px;

  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;

  background: #000;
}

a.btn-border:before {
  top: 0;
  left: 0;
}

a.btn-border:after {
  right: 0;
  bottom: 0;
}

a.btn-border:hover:before,
a.btn-border:hover:after {
  width: 100%;
}

#textbox{
  margin-top: 4%;
}

#login{
  font-size: 20px;
  margin: 10px;
}


