<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>追加画面</title>
</head>
<body>
<h1>ToDoList</h1><p>~追加画面~</p>
<a href="/retrun">戻る</a>

<br>
<br>
<br>

<form action="/add" method="POST">
	<input type="text" name="title"  required><br>
	<input type="date" name="calendar" max="9999-12-31" th:min="${hi}"  required><br>
	<textarea name="task_add" cols="60" rows="20"  required>入力</textarea><br>
	<input type="submit" value="追加する">
 </form>
 
</body>
</html>