<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>編集画面</title>
</head>
<h1>ToDoList</h1><p>画面編集</p>
<a href="/retrun">戻る</a>

<br>
<br>
<br>

<form action="/task_edit" method="POST">
	<input type="text" name="title" th:value="${session.task.taskTitle}"  required><br>
	<input type="date" name="calendar" max="9999-12-31" th:min="${hi}"  required><br>
	<textarea name="job" cols="60" rows="20"  th:text="${session.task.taskContent}"  required></textarea><br>
	<input type="hidden" name="taskCode" th:value="${session.task.taskCode}">
	<input type="submit" value="編集を送る">
</form>

<form action="/delete" method="post">
	<input type="hidden"  name="delete" th:value="${session.task.taskCode}">
	<input type="submit" value="削除">
</form>

</body>
</html>