<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/top.css}">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<h1>ToDoList</h1><p>削除画面</p>
		<form  action="/logout" method="GET">
			<input type="submit" class="button" value="ログアウト">
		</form>	
	<p id="name" th:text="${'こんにちは　' + session.name + '　さん'}"></p>
	
<hr>
<a href="/task">現在のタスクへ</a>
<table border="1">
	<tr>
		<th>達成</th><th>Todo</th><th>内容</th><th>終了日</th><th>削除</th>
	</tr>
		<tr th:each="task:${taskList}"  th:if="${task.taskFlg}">
			<td><a th:href="'/comp/' + ${task.taskCode}" th:text="${task.taskFlg}"></a>
			<td th:text="${task.taskTitle}">
			<td th:text="${task.taskContent}"></td>			
			
			<td th:text="${#dates.format(task.taskDeadline, 'yyyy/MM/dd')}"></td>
			<td>
				<form action="/delete" method="post">
					<input type="hidden"  name="delete" th:value="${task.taskCode}">
					<input type="submit" value="削除">
				</form>
			</td>
		</tr>	
	</table>
</body>
</html>