<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{../stylesheet.css}">
<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
</head>
<body>
<h1>ToDo List</h1>	
<div class="box">	
		<form action="/login" method="post">
		<p id="login">sign in</p>
			<input id="textbox" type="text" name="name" placeholder="お名前"><br>
	    	<input id="textbox" type="password" name="pass" placeholder="パスワード"><br>
			<span style="color: red;" th:text="${message}"></span>
			<br>
			<br>
			<input class="decorated-btn click-down"  type="submit" value="次に進む">
		</form>
</div>
<p>ToDoListは初めてですか？</p>
	<a href="/newbee" class="btn btn-border">ToDoアカウントを作成する</a>
</body>
</html>
